.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100dvw;
}

.trackertitle {
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid #00f1f1;
  margin-bottom: 10px;
}
.tablecon {
  overflow: auto;
  width: 90dvw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addgamebutton {
  all: unset;
  border-radius: 5px;
  border-top: 2px solid #00f1f1;
  border-bottom: 2px solid #00f1f1;
  padding: 4px;
}

.addgamebutton:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

@media (min-width: 850px) {
  .tablecon {
    justify-content: center;
  }
}
