table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(128, 128, 128, 0.4);
  color: white;
}

.namecell {
  font-weight: bold;
  color: #00f1f1;
  padding: 10px;
}
.tableheader {
  color: #00f1f1;
  padding: 20px;
}

.ongoingcell,
.ratingcell {
  text-align: center;
}

.datestartcell,
.dateendcell,
.hourscell {
  text-align: right;
  padding: 5px;
}

.tablerow {
  height: 75px;
}

.deletebutton {
  all: unset;
  border-radius: 5px;
  border-top: 2px solid #dd0e20;
  border-bottom: 2px solid #dd0e20;
  padding: 4px;
}

.deletebutton:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.deletecell {
  padding: 10px;
}
